<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
</head>

<body>
      <div class="container" align=center>
    <u><h2>Edit Film Text Record</h2></u><br>
    <!-- Saving the New Records in Actors Table -->
    <form  method="post">
        <div class="form-group">
            <label for="film_id">Enter the Film ID:</label>
            <input type="text" class="form-control" placeholder="Enter Film ID" name="film_id" value="<%= film_text.film_id %> ">
          </div>
      <div class="form-group">
        <label for="title">Enter the Title:</label>
        <input type="text" class="form-control" placeholder="Enter Title" name="title"value="<%= film_text.title %> ">
      </div>
      <div class="form-group">
        <label for="description">Enter the Description:</label>
        <input type="text" class="form-control" placeholder="Enter Description" name="description"value="<%= film_text.description %> ">
      </div>
      <button type="submit" class="btn btn-primary">Submit!</button>
    </form>
  </div>
</body>

</html>