<html>

<head>
    <meta name="view port" content="width=device-width, initial-scale=1">
    <link href="//netdna.bootstrapcdn.com/bootstrap/3.0.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
    <script src="//netdna.bootstrapcdn.com/bootstrap/3.0.0/js/bootstrap.min.js"></script>
    <script src="//code.jquery.com/jquery-1.11.1.min.js"></script>
    <!------ Include the above in your HEAD tag ---------->

</head>
<style>
    .col-md-6 {
        padding-top: 20;
    }
    .container{
        background-color:#e8a873;
    }
    @-ms-viewport{
  width: device-width;
}
</style>

<body>
    <div class="container">
        <div class="row">
            <div class="col-md-6">
                <!-- It can be fixed with bootstrap affix http://getbootstrap.com/javascript/#affix-->
                <div id="sidebar" class="well sidebar-nav" style="background-color: #f3ffff;">
                    <u><h3 align=center>SETUP CONFIGURATION</h3></u>
                    <br>
                    <ul class="nav nav-pills nav-stacked">
                        <li class="active"><a href="/selectlanguage">Language Table</a></li>
                    </ul>
                    <hr style="height:2px;border-width:0;color:gray;background-color:gray">
                    <ul class="nav nav-pills nav-stacked">
                        <li ><h3>Address Configuration</li></h3>
                        <li class="active"><a href="/selectcountry">Country Table</a></li>
                        <li class="active"><a href="/selectcity">City Table</a></li>
                        <li class="active"><a href="/selectaddress">Address Table</a></li>
                    </ul>
                    <hr style="height:2px;border-width:0;color:gray;background-color:gray">
                    <ul class="nav nav-pills nav-stacked">
                        <li ><h3>Stores Configuration</li></h3>
                        <li class="active"><a href="/selectstaff">Staff Table</a></li>
                        <li class="active"><a href="/selectstore">Store Table</a></li>
                    </ul>
                    <hr style="height:2px;border-width:0;color:gray;background-color:gray">
                    <ul class="nav nav-pills nav-stacked">
                        <li ><h3>Film Configuration</li></h3>
                        <li class="active"><a href="/selectcategory">Category Table</a></li>
                        <li class="active"><a href="/selectactor">Actor Table</a></li>
                        <li class="active"><a href="/selectfilmtext">Film Text Table</a></li>
                        <li class="active"><a href="/selectfilm">Film Table</a></li>
                    </ul>
                    <hr style="height:2px;border-width:0;color:gray;background-color:gray">
                    <ul class="nav nav-pills nav-stacked">
                        <li class="active"><a href="/selectfilmcat">Film Category Table</a></li>
                    </ul>
                    <hr style="height:2px;border-width:0;color:gray;background-color:gray">
                    <ul class="nav nav-pills nav-stacked">
                        <li class="active"><a href="/selectfilmactor">Film Actor Table</a></li>
                    </ul>
                    <hr style="height:2px;border-width:0;color:gray;background-color:gray">
                    <ul class="nav nav-pills nav-stacked">
                        <li class="active"><a href="/selectinventory">Inventory Table</a></li>
                    </ul>
                </div>
            </div>
            <div class="col-md-6">
                <div id="sidebar" class="well sidebar-nav" style="background-color: #f3ffff;">
                    <u><h3 align=center>TRANSACTION</h3></u>
                    <br>
                    <ul class="nav nav-pills nav-stacked">
                        <li class="active"><a href="/selectcustomer">Customer Table</a></li>
                    </ul>
                    <hr style="height:2px;border-width:0;color:gray;background-color:gray">
                    <ul class="nav nav-pills nav-stacked">
                        <li class="active"><a href="/selectrental">Rental Table</a></li>
                    </ul>
                    <hr style="height:2px;border-width:0;color:gray;background-color:gray">
                    <ul class="nav nav-pills nav-stacked">
                        <li class="active"><a href="/selectpayment">Payment Table</a></li>
                    </ul>
                    <hr style="height:2px;border-width:0;color:gray;background-color:gray">
                </div>
            </div>
            </div>
        </div>
    </div>

</body>

</html>